<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	
	<header th:fragment="header" class="d-flex align-items-center border border-black">
		
		<span class="p-4 border-end border-black">Best of</span>
		
		<div class="ps-2">
			<a class="border border-black rounded py-2 px-4" href="/">Home</a>
		</div>
		
		<div class="ps-2">
			<a class="border border-black rounded py-2 px-4" href="/movies">Movies</a>
		</div>
		
		<div class="ps-2">
			<a class="border border-black rounded py-2 px-4" href="/songs">Songs</a>				
		</div>
				
	</header>
	
</body>
</html>