<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>movies</title>
</head>
<body>
	
	<header th:insert="header :: header"></header>
	
	<main class="container d-flex flex-wrap justify-content-center align-items-center text-center">
		
		<h1 class="w-100 py-5">Best Movies</h1>
		
		<!-- <p>[[${moviesListString}]]</p> -->
		
		<ul class="border border-black border-bottom-0 rounded p-0">
			<li 
				th:each="movie : ${moviesList}" 
				class="border-bottom border-dark py-2 px-5">
					<a th:href="@{/movies/{movie.id} (movie.id = ${movie.id})}">
						[[${movie.titolo}]]
					</a>
		    </li>
		</ul>
					
	</main>
	
</body>
</html>